html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background:radial-gradient(circle at center,green, black);
    height: 100vh;
    color: white;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

button {
    width: 150px;
    height: 100px;
    background-color: red;
    font-size: 30px;
    border-radius: 25px;
    border: black 2px solid;
    margin-top: 40px;
}

.card-holder {
    display: flex;
    justify-content: center;
}

.cards {
    height:180px;
    width: 800px;
    border: yellow 2px solid;
    display: flex;
    
}

.card {
    height: 150px;
    width: 120px;
    border: black 2px solid;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: 30px;
}

.message {
    font-size: 100px;
    text-decoration: underline;
    text-transform: uppercase;
}

